
<br><br><br>

<h1 style="text-align: center">Bloğu Düzenle | Güncelle</h1>
<div class="container" >
	<div class="row" >
		<div class="col-md-10"  style="border: 1px solid lightgray;border-radius: 10px;margin: 5px auto">


			<%= render 'form', blog: @blog %>

			<%= link_to 'Güncellenen Blog', @blog, class:"btn btn-secondary mt-2" %> |
			<%= link_to 'Tüm Bloglar', blogs_path,class:"btn btn-secondary mt-2" %>

		</div>
	</div>
</div>