<br>
<div class="container" style="border:1px solid lightgray">
	<div class="row">
		<div class="col-md-10"  style="margin: 0 auto">
			
			<h1 style="text-align: center"> <%= @blogs.baslik %> </h1>
			<p>
				<%= @blogs.icerik %> 

			</p>



		</div>
	</div>
</div>